body
{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 !important;
    background-color: rgb(206, 204, 204);
}

#top
{
    margin: 0 !important;
    width: 100%;
    height: 56px;
    background-color: black;
    -webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    padding-top: 15px;
    padding-left: 2%;
    color: white;
    font-size: 15px;
}

#logo
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.more
{
    width: 20%;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.more a
{
    color: black;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.more a:visited
{
    color: black;
    text-decoration: none;
    
}

.more a:link
{
    color: black;
    text-decoration: none;
    
}

.more:hover
{
    color: rgb(194, 27, 21);
    transform: scale(0.95);
    
}

.more a:hover
{
    color: rgb(194, 27, 21);
}

#menu
{
    width: 100%;
    height: 150px;
    background-color: rgb(36, 94, 160);
    -webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
}

.item:first-child
{
    margin-left: 1.5% !important;
}

.item
{
    background-color: rgb(24, 67, 116);
    width: 18%;
    height: 80px;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 3%;
    -webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    font-size: 100%;
    color: white;
    transition: all 0.5s ease-in-out;
}

.item a
{
    color: white;
    text-decoration: none;
}

.item a:visited
{
    color: white;
    text-decoration: none;
}

.item a:link
{
    color: white;
    text-decoration: none;
}

.item:hover
{
    color: black;
    background-color: rgb(214, 104, 15);
    cursor: pointer;
    transform: scale(0.9);
}

#sale
{
    width: 45%;
    height: 50px;
    background-color: rgb(214, 104, 15);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    font-weight: 800;
    font-size: 20px;
    padding-top: 25px;
    transition: all 0.5s ease-in-out;
}

#sale a
{
    color: black;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

#sale a:visited
{
    color: black;
    text-decoration: none;
    
}

#sale a:link
{
    color: black;
    text-decoration: none;
    
}

#sale:hover
{
    transform: scale(1.05);
    cursor: pointer;
}

#sale a:hover
{
    color: rgb(194, 27, 21);
}

#sale2 a
{
    color: black;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

#sale2 a:visited
{
    color: black;
    text-decoration: none;
    
}

#sale2 a:link
{
    color: black;
    text-decoration: none;
    
}

#sale2:hover
{
    transform: scale(1.05);
    cursor: pointer;
}

#sale2 a:hover
{
    color: rgb(194, 27, 21);
}

#box
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgb(72, 113, 224);
    -webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    padding-top: 30px;
    padding-bottom: 30px;
}

#content
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#picture
{
    margin-top: 60px;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#footer
{
    font-size: 15px;
    margin: 0 !important;
    width: 100%;
    height: 50px;
    background-color: black;
    -webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    text-align: center;
    padding: 10px;
    color: rgb(161, 161, 161);
}
#background
{
    background-image: url("img/tlo.png") !important;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footer a
{
    color: white;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

#footer a:visited
{
    color: white;
}

#footer a:hover
{
    color: rgb(228, 154, 18);
}

h1
{
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: rgb(228, 154, 18);
    letter-spacing: 2px;
	text-shadow:
	2px 2px 0 rgb(145, 11, 11),
	-2px 2px 0 rgb(145, 11, 11),
	2px -2px 0 rgb(145, 11, 11),
	-2px -2px 0 rgb(145, 11, 11);
}

p1
{
    font-size: 18px;
    letter-spacing: .5px;
    color: white;
}

#clock
{
    float: left;
}

h2
{
	font-size: 26px;
	color: rgb(1, 180, 224);
	text-shadow:
	2px 2px 0 rgb(33, 31, 121),
	-2px 2px 0 rgb(33, 31, 121),
	2px -2px 0 rgb(33, 31, 121),
	-2px -2px 0 rgb(33, 31, 121);
}

p
{
	font-size: 24px;
	text-transform: uppercase;
    color: black;
    font-weight: 700;
}

#fb a
{
    color: gold;
    text-decoration: none;
    transition: all 1s ease-in-out;
}

#fb a:hover
{
    color: black;
}

#box2
{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
	background-color: rgb(231, 143, 12);
	-webkit-box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.61);
	-moz-box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.61);
	box-shadow: 0px 0px 71px -22px rgba(0,0,0,0.61);
    padding-top: 30px;
    padding-bottom: 30px;
}

.image
{
    float: left;
}

.line
{
    width: 100%;
    height: 100%;
}

.focus
{
    width: 18%;
    height: 80px;
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 1.5%;
    -webkit-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 25px -8px rgba(0,0,0,0.75);
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 20px;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
    font-size: 100%;
    color: black;
    background-color: rgb(214, 104, 15);
}